doctype html
html(lang="en")
  head
    base(href=httpRoot)

    block meta
        include meta.pug

    if extraBodyClass === "dev"
      script(src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/14.0.0/sinon.js" integrity="sha512-lwbFZYfi3WibUQJXhehHc/gtTko1JVC38zKx2PloaZP6AIVNCk5u/GRDKwF0bHwmiQsF0r9nLF7gO9gew+1j3g==" crossorigin="anonymous" referrerpolicy="no-referrer")

    script
      | (function () {
      |   var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
      |   var storedState = '#{storedStateId}';
      |   if (isIE11) {
      |     if (storedState) {
      |       location.href = '#{httpRoot}noscript/z/' + storedState;
      |     } else {
      |       location.href = '#{httpRoot}noscript';
      |     }
      |   }
      | })();

    block styles
        link(href=require("vendor.css") rel="stylesheet")
        link(href=require("main.css") rel="stylesheet")

    //- partially apply theme as soon as possible to minimize the page load flashbang duration when using dark theme
    script
      | (function () {
      |   try {
      |     var settings = window.localStorage.getItem("!{localStoragePrefix}settings") || '{}';
      |     var theme = JSON.parse(settings).theme || (
      |         window.matchMedia ?
      |             (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'default')
      |             : 'dark'
      |     );
      |     if(theme === 'darkplus') theme = 'dark';
      |     document.documentElement.setAttribute('data-theme', theme);
      |   } catch (e) {
      |     document.documentElement.setAttribute('data-theme', 'default');
      |   }
      | })();

  body(class=extraBodyClass)
    block content
        #root
          noscript
            p Without Javascript the regular website is not functional. To go to the noscript version Compiler Explorer&nbsp;
              if storedStateId
                a(href=`${httpRoot}noscript/z/${storedStateId}`) click here
              else
                a(href=`${httpRoot}noscript`) click here

    block footer
        include templates/templates

    block scripts
        script(src=`${httpRoot}client-options.js?hash=${optionsHash}`)
        div#config(extraOptions=encodeURIComponent(compilerExplorerOptions), httpRoot=httpRoot, staticRoot=staticRoot)
        script(src=require("runtime.js"))
        script(src=require("vendor.js"))
        script(src=require("main.js"))
