title Compiler Explorer - #{language}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(href=root + "explorer.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet")
script window.compilerExplorerOptions = !{compilerExplorerOptions}
script(data-main=root + "main" src=root + "ext/requirejs/require.js")
