doctype html
html(lang="en")
  head
    base(href=httpRoot)
    include monaco.pug
    include head.pug
  body(class=extraBodyClass)
    nav.navbar.navbar-godbolt.navbar-expand-md.navbar-light.bg-light
      a.navbar-brand(href="javascript:;" title="Compiler Explorer")
        img.logo.normal.align-top(src=require("site-logo.svg") height="50" width="165" alt="Compiler Explorer")
        img.logo.inverse.align-top(src=require("site-logo-inverse.svg") height="50" width="165" alt="Compiler Explorer" style="display: none")
        if extraBodyClass === "beta"
          img.beta-overlay.align-top(src=require("site-logo-beta.svg") height="50" width="165")
        else if extraBodyClass === "dev"
          img.dev-overlay(src=require("site-logo-dev.png") height="50" width="165")
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarContent
        ul.navbar-nav.navbar-left.mr-auto
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle#addDropdown(href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Add... 
            div.dropdown-menu(aria-labelledby="moreDropdown")
              a.dropdown-item#add-editor(href="javascript:;" title="Click or drag to desired destination")
                span.fa.fa-code
                | &nbsp;Source Editor
              a.dropdown-item#add-diff(href="javascript:;" title="Click or drag to desired destination")
                span.fas.fa-exchange-alt
                | &nbsp;Diff View
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle#moreDropdown(href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") More
            div.dropdown-menu(aria-labelledby="moreDropdown")
              a.dropdown-item#setting(href="javascript:;" data-target="#settings" data-toggle="modal") Settings
              div.dropdown-divider
              a.dropdown-item#ui-brokenlink(href="javascript:;") Reset UI layout
              a.dropdown-item#ui-reset(href="javascript:;") Reset code and UI layout
              a.dropdown-item#ui-duplicate(href="javascript:;") Open new tab 
        ul#motd.navbar-nav.navbar-center.mr-auto.community-advert.d-none
          span.content
            | Thanks for using Compiler Explorer
          span.community-hide(title="Hide and never show again" aria-label="Close")
            button.close(type="button" aria-hidden="true") &times;
        ul.navbar-nav.navbar-right
          li.nav-item
            a.nav-link#share(href="javascript:;") Share
              b.fas.fa-caret-down
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle#otherDropdown(href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Other
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="otherDropdown")
              a.dropdown-item(href="https://www.patreon.com/bePatron?u=3691963" title="Help Compiler Explorer - become a Patron" target="_blank" rel="noopener")
                span.fab.fa-patreon
                | &nbsp; Become a Patron
              if githubEnabled
                a.dropdown-item(href="https://github.com/mattgodbolt/compiler-explorer" title="View the source on GitHub" target="_blank" rel="noopener")
                  span.fab.fa-github
                  | &nbsp; Source on GitHub
              a.dropdown-item(href="https://groups.google.com/forum/#!forum/compiler-explorer-discussion" title="Join Compiler Explorer Public Google Group" target="_blank" rel="noopener")
                img(height="20" width="20" src=require("Google-Groups-20px.png"))
                | &nbsp; Mailing list
              a.dropdown-item(href="https://github.com/mattgodbolt/compiler-explorer/wiki/Installed-libraries" target="_blank" rel="noopener") Installed libraries
              a.dropdown-item(href="https://github.com/mattgodbolt/compiler-explorer/wiki" target="_blank" rel="noopener") Wiki
              a.dropdown-item(href="https://github.com/mattgodbolt/compiler-explorer/issues" target="_blank" rel="noopener") Report an issue
              a.dropdown-item#thanks-to(href="javascript:;") Thanks to...
              a.dropdown-item(href="https://xania.org/201609/how-compiler-explorer-runs-on-amazon" target="_blank") How it works
              a.dropdown-item(href="mailto:matt@godbolt.org" target="_blank" rel="noopener noreferrer") Contact the author
              a.dropdown-item(href="https://xania.org/MattGodbolt" rel="author" target="_blank") About the author
              a.dropdown-item#changes(href="javascript:;") Changelog
              if sharingEnabled
                a.dropdown-item#socialshare
          if policies.cookies.enabled || policies.privacy.enabled
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle#policiesDropdown(href="javascript:;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Policies
              div.dropdown-menu.dropdown-menu-right(aria-labelledby="policiesDropdown")
                a.dropdown-item#cookies(href="javascript:;") Cookie policy
                a.dropdown-item#privacy(href="javascript:;") Privacy policy
    #root

    include templates.pug

    include popups.pug
