.gl_keep.template

  #codeEditor
    .top-bar.btn-toolbar.bg-light(role="toolbar" aria-label="Editor toolbar" name="editor-btn-toolbar")
      include font-size.pug
      .btn-group.btn-group-sm(role="group" aria-label="Editor settings")
        button.btn.btn-sm.btn-light.load-save(title="Load or save text" aria-label="Load or save text")
          span.fa.fa-save
          span.hideable Save/Load
        button.dropdown-toggle.btn.btn-sm.btn-light.add-pane(type="button" title="Add a new pane" aria-label="Add a new pane" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span.fa.fa-plus
          span.hideable Add new...
        .dropdown-menu
          button.dropdown-item.btn.btn-sm.btn-light.add-compiler(title="Add a new compiler for this source" aria-label="New compiler")
            span.dropdown-icon.fa.fa-cogs
            | Compiler
          button.dropdown-item.btn.btn-sm.btn-light.add-executor(title="Add a new executor for this source" aria-label="New executor")
            span.dropdown-icon.fas.fa-microchip
            | Execution only
          button.dropdown-item.btn.btn-sm.btn-light.conformance(title="Add a new conformance view" aria-label="New conformance view")
            span.dropdown-icon.fa.fa-list
            | Conformance view
          button.dropdown-item.btn.btn-sm.btn-light.add-editor(title="Add a new source editor view" aria-label="New source editor")
            span.dropdown-icon.fa.fa-code
            | Source editor
        button#vim-flag.btn.btn-sm.btn-light(title="Toggle Vim Keybindings")
          span.fab.fa-vimeo-v
          span.hideable Vim
      if thirdPartyIntegrationEnabled
        .btn-group.btn-group-sm(role="group" aria-label="External Sites")
          a.btn.btn-sm.btn-light.open-in-cppinsights(href="https://cppinsights.io/" target="_blank" title="Open in Cppinsights" aria-label="Open in Cppinsights")
            svg(height="16" width="16")
              include resources/cppinsights.svg
            span.hideable CppInsights
          a.btn.btn-sm.btn-light.open-in-quickbench(href="http://quick-bench.com/" target="_blank" title="Open in Quick-bench" aria-label="Open in Quick-bench")
            svg(height="16" width="16")
              include resources/quickbench.svg
            span.hideable Quick-bench
      .btn-group.btn-group-sm.mx-auto
        button.btn.btn-sm.btn-outline-info.ctrlSNothing(disabled=true style="display: none")
          span.fas.fa-smile
      .btn-group.btn-group-sm.ml-auto(role="group" aria-label="Editor language")
        select.change-language(title="Change this editor's (and associated panels) language" placeholder="Language" disabled=embedded && readOnly)
    div.currentCursorPosition
    div#v-status
    .monaco-placeholder

  #compiler
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      .btn-group.btn-group-sm(role="group" aria-label="Compiler picker")
        .input-group
          .input-group-prepend
            .input-group
              select.compiler-picker
              .input-group-append
                button.btn.btn-sm.btn-light.input-group-text.prepend-options(data-trigger="click" style="cursor: pointer;" role="button" title="All compilation options")
                  span.status-icon
          input.options.form-control(type="text" placeholder="Compiler options..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
          .input-group-append.populararguments(title="Popular arguments")
            button.btn.btn-sm.btn-light.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split.popular-arguments-btn(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              span.sr-only Popular arguments
            div.dropdown-menu.dropdown-menu-right
              button.dropdown-item.btn.btn-light.btn-sm
                .argmenuitem
                  span.argtitle Detailed Compiler Flags
                  span.argdescription Open a new window to edit verbose compiler flags
      include font-size
      .btn-group.btn-group-sm.filters(role="group")
        button.btn.btn-sm.btn-light.dropdown-toggle(type="button" title="Compiler output options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Change how the compiler's output is generated")
          span.fas.fa-cog
          span.hideable Output...
        .dropdown-menu
          include options-output.pug
      .btn-group.btn-group-sm.filters(role="group")
        button.btn.btn-sm.btn-light.dropdown-toggle(type="button" title="Compiler output filters" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Change how the compiler output is filtered")
          span.fas.fa-filter
          span.hideable Filter...
        .dropdown-menu
          include options-filters.pug
      .btn-group.btn-group-sm(role="group" aria-label="Compiler additions")
        button.btn.btn-sm.btn-light.show-libs(title="Include libs" aria-label="Toggle libraries dropdown")
          span.fas.fa-book
          span.dp-text.hideable Libraries
      .btn-group.btn-group-sm(role="group")
        button.btn.btn-sm.btn-light.dropdown-toggle.add-pane(type="button" title="Add a new pane" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Add new element for this compiler")
          span.fas.fa-plus
          span.hideable Add new...
        .dropdown-menu.dropdown-menu-right
          button.dropdown-item.btn.btn-sm.btn-light.add-compiler(title="Clone this compiler window (click or drag)")
            span.dropdown-icon.far.fa-clone
            | Clone compiler
          button.dropdown-item.btn.btn-sm.btn-light.create-executor(title="Create executor from this compiler")
            span.dropdown-icon.fas.fa-microchip
            | Executor from this
          button.dropdown-item.btn.btn-sm.btn-light.view-optimization(title="Show optimization output")
            span.dropdown-icon.fas.fa-weight
            | Optimization output
          button.dropdown-item.btn.btn-sm.btn-light.view-pp(title="Show Preprocessor Output")
            span.dropdown-icon.fas.fa-hashtag
            | Preprocessor output
          button.dropdown-item.btn.btn-sm.btn-light.view-ast(title="Show AST output")
            span.dropdown-icon.fas.fa-leaf
            | AST output
          button.dropdown-item.btn.btn-sm.btn-light.view-ir(title="Show LLVM Intermediate Representation")
            span.dropdown-icon.fas.fa-align-center
            | LLVM IR output
          button.dropdown-item.btn.btn-sm.btn-light.view-device(title="Show Device output")
            span.dropdown-icon.fas.fa-tv
            | Device output
          button.dropdown-item.btn.btn-sm.btn-light.view-rustmir(title="Show Rust Mid-level Intermediate Representation")
            span.dropdown-icon.fas.fa-water
            | Rust MIR output
          button.dropdown-item.btn.btn-sm.btn-light.view-rustmacroexp(title="Show Rust Macro Expansion")
            span.dropdown-icon.fas.fa-arrows-alt
            | Rust Macro Expansion output
          button.dropdown-item.btn.btn-sm.btn-light.view-rusthir(title="Show Rust HIR")
            span.dropdown-icon.fas.fa-arrows-alt
            | Rust HIR output
          button.dropdown-item.btn.btn-sm.btn-light.view-haskellCore(title="Show GHC Core Intermediate Representation")
            span.dropdown-icon.fas.fa-water
            | GHC Core output
          button.dropdown-item.btn.btn-sm.btn-light.view-haskellStg(title="Show GHC STG Intermediate Representation")
            span.dropdown-icon.fas.fa-water
            | GHC STG output
          button.dropdown-item.btn.btn-sm.btn-light.view-haskellCmm(title="Show GHC Cmm Intermediate Representation")
            span.dropdown-icon.fas.fa-water
            | GHC Cmm output
          button.dropdown-item.btn.btn-sm.btn-light.view-gccdump(title="Show Tree/RTL dump (GCC only)")
            span.dropdown-icon.fas.fa-tree
            | GCC Tree/RTL output
          button.dropdown-item.btn.btn-sm.btn-light.view-gnatdebugtree(title="Show GNAT Debug Tree")
              span.dropdown-icon.fas.fa-tree
              | GNAT Debug Tree
          button.dropdown-item.btn.btn-sm.btn-light.view-gnatdebug(title="Show GNAT Debug Expanded Code")
            span.dropdown-icon.fas.fa-tree
            | GNAT Debug Expanded Code
          button.dropdown-item.btn.btn-sm.btn-light.view-cfg(title="Show Graph Output")
            span.dropdown-icon.fas.fa-exchange-alt
            | Graph output
      .btn-group.btn-group-sm(role="group")
        button.btn.btn-sm.btn-light.dropdown-toggle.add-tool(type="button" title="Add tool" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Add tooling to this editor and compiler")
          span.fas.fa-screwdriver
          span.hideable Add tool...
        .dropdown-menu.dropdown-menu-right.toolsmenu
    .monaco-placeholder
    .bottom-bar.bg-light
      if !embedded
        .btn-group.btn-group-sm
          .input-group
            .input-group-prepend
              button.btn.btn-sm.btn-light.clear-cache(title="Clear cache & recompile")
                span.fas.fa-redo
            button.btn.btn-sm.btn-light.output-btn
              span.fas.fa-receipt.status-text
              | &nbsp;Output
              span.output-count
                | &nbsp;(
                span.text-count
                  | 0
                | /
                span.err-count
                  | 0
                | )
        span.short-compiler-name.mr-1
        button.btn.btn-sm.btn-light.full-compiler-name(data-trigger="click" style="cursor: pointer;" role="button")
          span.fas.fa-info
        span.compile-info.mr-1(title="Compilation info")
        button.btn.btn-sm.btn-light.full-timing-info(data-trigger="click" style="cursor: pointer;" role="button")
          span.fas.fa-chart-bar

  #executor
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
      .btn-group.btn-group-sm.options(role="group" aria-label="Output options")
        .button-checkbox
          button.btn.btn-sm.btn-light.wrap-lines(type="button" title="Wrap lines" data-bind="wrap" aria-pressed="false" aria-label="Wrap lines")
            span Wrap lines
          input.d-none(type="checkbox" checked=false)
        button.btn.btn-sm.btn-light.show-libs(title="Include libs" aria-label="Toggle libraries dropdown")
          span.fas.fa-book
          span.dp-text.hideable Libraries
      button.btn.btn-sm.btn-light.toggle-compilation.active(title="Compiler options" aria-label="Toggle compiler options input")
        span.fas.fa-cogs
        span.hideable Compilation
      button.btn.btn-sm.btn-light.toggle-args(title="Execution arguments" aria-label="Toggle execution arguments input")
        span.fas.fa-terminal
        span.hideable Arguments
      button.btn.btn-sm.btn-light.toggle-stdin(title="Execution stdin" aria-label="Toggle execution stdin input")
        span.fas.fa-sign-in-alt
        span.hideable Stdin
      button.btn.btn-sm.btn-light.toggle-compilerout.active(title="Compiler output" aria-label="Toggle showing compiler output")
        span.fas.fa-sign-out-alt
        span.hideable Compiler output
      button.btn.btn-sm.btn-light.clear-cache(title="Clear cache & recompile")
        span.fas.fa-redo
    .top-bar.btn-toolbar.bg-light.panel-compilation(role="toolbar")
      .btn-group.btn-group-sm(role="group" aria-label="Compiler picker")
        .input-group
          .input-group-prepend
            .input-group
              select.compiler-picker
              .input-group-append
                button.btn.btn-sm.btn-light.input-group-text.prepend-options(data-trigger="click" style="cursor: pointer;" role="button" title="All compilation options")
                  span.btn.btn-sm.btn-light.status-icon
          input.compilation-options.form-control(type="text" placeholder="Compiler options..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
          // TODO: Maybe enable this in the future?
          //.input-group-append.populararguments(title="Popular arguments")
            button.btn.btn-sm.btn-light.btn-outline-secondary.dropdown-toggle.dropdown-toggle-split.popular-arguments-btn(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              span.sr-only Popular arguments
            div.dropdown-menu.dropdown-menu-right
              button.dropdown-item.btn.btn-light.btn-sm
                .argmenuitem
                  span.argtitle Detailed Compiler Flags
                  span.argdescription Open a new window to edit verbose compiler flags
    .top-bar.btn-toolbar.bg-light.panel-args.d-none(role="toolbar")
      input.execution-arguments.form-control(type="text" placeholder="Execution arguments..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
    .top-bar.btn-toolbar.bg-light.panel-stdin.d-none(role="toolbar")
      textarea.execution-stdin.form-control(placeholder="Execution stdin..." cols="1024" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-multiline="false" style="resize: vertical")
    pre.content
      .execution-status
      .compiler-output
      .execution-output
    .bottom-bar.bg-light
      span.short-compiler-name
      button.btn.btn-sm.btn-light.fas.fa-info.full-compiler-name(data-trigger="click" style="cursor: pointer;" role="button")
      span.compile-time(title="Compilation time (Result size)")
      button.btn.btn-sm.btn-light.fas.fa-chart-bar.full-timing-info(data-trigger="click" style="cursor: pointer;" role="button")

  #compiler-output
    .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
      include font-size
      .btn-group.btn-group-sm.options(role="group" aria-label="Output options")
        .button-checkbox
          button.btn.btn-sm.btn-light.wrap-lines(type="button" title="Wrap lines" data-bind="wrap" aria-pressed="false" aria-label="Wrap lines")
            span Wrap lines
          input.d-none(type="checkbox" checked=false)
      .btn-group.btn-group-sm(role="group")
        button.btn.btn-sm.btn-light.select-all(type="button" title="Select all lines")
          span Select all
    pre.content.output-content

  #tool-input
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #tool-output
    .top-bar.bad-lang.bg-warning(role="toolbar" style="display: none")
      p The current language or compiler does not support this tool
    .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
      include font-size
      .btn-group.btn-group-sm.options(role="group" aria-label="Tool options")
        .input-group.input-group-sm.mb-auto
          .button-checkbox
            button.btn.btn-sm.btn-light.wrap-lines(type="button" title="Wrap lines" data-bind="wrap" aria-pressed="false" aria-label="Wrap lines")
              span Wrap lines
            input.d-none(type="checkbox" checked=false)
        button.btn.btn-sm.btn-light.toggle-args
          span.fas.fa-terminal
          span.hideable Arguments
        button.btn.btn-sm.btn-light.toggle-stdin
          span.fas.fa-sign-in-alt
          span.hideable Stdin
    .top-bar.btn-toolbar.bg-light.panel-args.d-none(role="toolbar")
      input.options.form-control(type="text" placeholder="Tool arguments..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
    .top-bar.btn-toolbar.bg-light.panel-stdin.d-none(role="toolbar")
      textarea.tool-stdin.form-control(placeholder="Tool stdin..." cols="1024" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-multiline="false" style="resize: vertical")
    pre.content
    .monaco-placeholder

  #diff
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
      .btn-group.btn-group-sm
        .input-group.input-group-sm.mb-auto
          .input-group-prepend
            label.input-group-text
              | Left:&nbsp;
          select.diff-picker.lhs(placeholder="Select compiler...")
          select.difftype-picker.lhsdifftype(placeholder="...")
      .btn-group.btn-group-sm.ml-4
        .input-group.input-group-sm.mb-auto
          .input-group-prepend
            label.input-group-text
              | Right:&nbsp;
          select.diff-picker.rhs(placeholder="Select compiler...")
          select.difftype-picker.rhsdifftype(placeholder="...")
    .monaco-placeholder

  #opt
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #flags
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #pp
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
      .btn-group.btn-group-sm.options(role="group" aria-label="Panel options")
        .input-group.input-group-sm.mb-auto
          .button-checkbox
            button.btn.btn-sm.btn-light.filter-headers(type="button" title="Filter header code from #includes" data-bind="filter-headers" aria-pressed="false" aria-label="Filter headers")
              span Filter headers
            input.d-none(type="checkbox" checked=true)
        .input-group.input-group-sm.mb-auto
          .button-checkbox
            button.btn.btn-sm.btn-light.clang-format(type="button" title="Apply clang-format to output" data-bind="clang-format" aria-pressed="false" aria-label="Apply clang-format")
              span Apply clang-format
            input.d-none(type="checkbox" checked=false)
    .monaco-placeholder

  #ast
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #ir
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
    .monaco-placeholder

  #device
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size.pug
      .btn-group.btn-group-sm(role="group")
        select.change-device(placeholder="Select a device...")
    .monaco-placeholder

  #gnatdebugtree
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #gnatdebug
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #rustmir
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #haskellCore
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #haskellStg
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #haskellCmm
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #rustmacroexp
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #rusthir
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
    .monaco-placeholder

  #gccdump
    .top-bar.btn-toolbar.bg-light(role="toolbar")
      include font-size
      .btn-group.btn-group-sm(role="group")
        select.gccdump-pass-picker(placeholder="Select a pass...")
      .btn-group.btn-group-sm.dump-filters
        button.btn.btn-sm.btn-light.dropdown-toggle(type="button" title="Dump passes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Available dump passes")
          span.fas.fa-compass
          span.hideable Passes
        .dropdown-menu
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light.active(type="button" title="Show Tree passes" data-bind="treeDump" aria-pressed="true")
              span Tree pass
            input.d-none(type="checkbox" checked=true)
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light.active(type="button" title="Show RTL passes" data-bind="rtlDump" aria-pressed="true")
              span RTL pass
            input.d-none(type="checkbox" checked=true)
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light.active(type="button" title="Show IPA passes" data-bind="ipaDump" aria-pressed="false")
              span IPA pass
            input.d-none(type="checkbox")
      .btn-group.btn-group-sm.dump-filters
        button.btn.btn-sm.btn-light.dropdown-toggle(type="button" title="Dump pass options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Control the details of the dump")
          span.fas.fa-microchip
          span.hideable Options
        .dropdown-menu
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Print raw representation of the tree" data-bind="rawOption" aria-pressed="false")
              span Raw Dump
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Print condensed intermediate representations" data-bind="slimOption" aria-pressed="false")
              span Slim Dump
            input.d-none(type="checkbox")
          div.dropdown-divider
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Turn on all options (except raw, slim, and lineno)" data-bind="allOption" aria-pressed="false")
              span All Options
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable printing the address of each tree node" data-bind="addressOption" aria-pressed="true")
              span Addresses
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable showing basic block boundaries (disabled in raw dumps)" data-bind="blocksOption" aria-pressed="false")
              span Basic Blocks
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable showing line numbers" data-bind="linenoOption" aria-pressed="false")
              span Line Numbers
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable more detailed dumps (not honored by every dump option)" data-bind="detailsOption" aria-pressed="false")
              span Pass Details
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable dumping statistics (not honored by every dump option)" data-bind="statsOption" aria-pressed="false")
              span Pass Stats
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable showing variable UIDs" data-bind="uidOption" aria-pressed="false")
              span Unique IDs
            input.d-none(type="checkbox")
          .button-checkbox
            button.dropdown-item.btn.btn-sm.btn-light(type="button" title="Enable showing virtual operands" data-bind="vopsOption" aria-pressed="false")
              span Virtual Operands
            input.d-none(type="checkbox")
    .monaco-placeholder

  #cfg
    .top-bar.btn-toolbar.bg-light.cfg-toolbar(role="toolbar")
      .btn-group.btn-group-sm(role="group")
        select.function-picker
      .btn-group.btn-group-sm.options(role="group")
        .button-checkbox
          button.btn.btn-sm.btn-light.toggle-navigation(type="button" title="Toggle navigation buttons" aria-pressed="false" data-bind="navigation")
            span Nav
          input.d-none(type="checkbox")
        .button-checkbox
          button.btn.btn-sm.btn-light.toggle-physics(type="button" title="Toggle physics to nodes" aria-pressed="false" data-bind="physics")
            span Physics
          input.d-none(type="checkbox")
    .graph-placeholder

  #conformance
    .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
      .btn-group.btn-group-sm(role="group")
        button.btn.btn-sm.btn-light.add-compiler(title="Add compiler")
          span.fas.fa-plus
          span.hideable Add compiler
        button.btn.btn-sm.btn-light.show-libs.dropdown-toggle(title="Include libs" aria-label="Toggle libraries dropdown" aria-pressed="false" aria-haspopup="true")
          span.fas.fa-book
          span.dp-text.hideable Libraries
    .conformance-wrapper
      table.compiler-list

  #compiler-selector
    .form-row
      .input-group
        .input-group-prepend
          .input-group
            select.compiler-picker
            .input-group-append
              button.btn.btn-sm.btn-light.input-group-text.prepend-options(tabindex="0" data-trigger="focus" style="cursor: pointer;" role="button" title="All compilation options")
                span.btn.btn-sm.btn-light.status-icon
        input.conformance-options.form-control(type="text" placeholder="Compiler options..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        .input-group-append
          button.btn.btn-sm.fas.fa-receipt.d-none.compiler-out.compiler-selector-icon(disabled=true style="cursor: help;" title="This compiler has generated some output. Open its associated pane to read it.")
          button.btn.btn-sm.fas.fa-times.close.compiler-selector-icon(aria-label="Close" title="Close")
          button.btn.btn-sm.fas.fa-share.close.extract-compiler.compiler-selector-icon(aria-label="Pop compiler" title="Show compiler")

  #libs-dropdown
    .no-libs
      p No libs configured for this language yet.
      a(target="_blank" rel="noopener noreferrer" href="https://github.com/compiler-explorer/compiler-explorer/issues/new?assignees=&labels=request%2Cnew-libs&template=library_request.md&title=%5BLIB+REQUEST%5D+INSERT+LIB+NAME+HERE")
        | You can suggest us one at any time&nbsp;
        sup.fas.fa-external-link-alt.opens-new-window(title="Opens in a new window")

  #libs-entry
    .input-group.input-group-sm
      .input-group-prepend
        label.input-group-text
      select.custom-select.custom-select-sm

  #share-item
    a.share-item(href="javascript:;" rel="noopener noreferrer" target="_blank")
      span.share-item-text

  #lib-selected-tpl
    div
      button.btn.btn-md.lib-name-and-version &nbsp;
      button.btn.btn-sm.lib-remove
        span.fas.fa-trash

  #lib-favorite-tpl
    div.mb-1
      button.btn.btn-md.btn-outline-primary.lib-name-and-version

  #lib-search-result-tpl
    .card
      .card-header
        span
          b.lib-name &nbsp;
        span.lib-version
          select.custom-select.custom-select-sm.lib-version-select
            option -
      .card-body
        p.lib-description &nbsp;
        .lib-examples
        div
          span.lib-website
            a.lib-website-link(href='#' target='_blank' rel='noopener') Website
          span.lib-fav
            button.btn.btn-sm.lib-fav-button
              span.lib-fav-btn-icon.far.fa-star

  #tree
    .top-bar.btn-toolbar.bg-light.mainbar(role="toolbar")
      .btn-group.btn-group-sm.menu(role="group" aria-label="Menu")
        button.dropdown-toggle.btn.btn-sm.btn-light.file-menu(type="button" title="File" aria-label="File" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span.fa.fa-save
          span.hideable Project
        .dropdown-menu
          input.dropdown-item.btn.btn-sm.btn-light.load-project-from-file(type="file" title="Load project from ZIP" aria-label="Load project from ZIP")
          button.dropdown-item.btn.btn-sm.btn-light.save-project-to-file(type="file" title="Save project" aria-label="Save project")
            span.dropdown-icon.fa.fa-save
            | Save
      .btn-group.btn-group-sm.options(role="group" aria-label="Tree settings")
        button.dropdown-toggle.btn.btn-sm.btn-light.add-pane(type="button" title="Add a new pane" aria-label="Add a new pane" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span.fa.fa-plus
          span.hideable Add new...
        .dropdown-menu
          button.dropdown-item.btn.btn-sm.btn-light.add-editor(title="Add a new source editor view" aria-label="New source editor")
            span.dropdown-icon.fa.fa-code
            | Source editor
          button.dropdown-item.btn.btn-sm.btn-light.add-compiler(title="Add a new compiler for this source" aria-label="New compiler")
            span.dropdown-icon.fa.fa-cogs
            | Compiler
          button.dropdown-item.btn.btn-sm.btn-light.add-executor(title="Add a new executor for this source" aria-label="New executor")
            span.dropdown-icon.fas.fa-microchip
            | Execution only
        .button-checkbox
          button.btn.btn-sm.btn-light.cmake-project(type="button" title="CMake project" data-bind="isCMakeProject" aria-pressed="false" aria-label="CMake project")
            span CMake
          input.d-none(type="checkbox" checked=false)
      .btn-group.btn-group-sm.ml-auto(role="group" aria-label="Language")
        select.change-language(title="Change the language" placeholder="Language" disabled=embedded && readOnly)
    .top-bar.btn-toolbar.bg-light.panel-args.d-none(role="toolbar")
      input.cmake-arguments.form-control(type="text" placeholder="CMake arguments..." size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
    .top-bar.btn-toolbar.bg-light.panel-outputfile.d-none(role="toolbar")
      input.cmake-customOutputFilename.form-control(type="text" placeholder="output.s" size="256" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
    .tree.v-scroll
      ul.list-group
        li.root.list-group-item.far-fa-folder
          .group-header Included files
          ul.list-group.named-editors
        li.root.list-group-item.far-fa-folder
          .group-header Excluded files
          ul.list-group.unnamed-editors

  #tree-editor-tpl
    li.list-group-item.tree-editor-file.input-group-append
        span.filename someresource.txt
        button.btn.delete-file.fa.fa-trash(title="Remove this file" aria-label="Delete")
        button.btn.rename-file.fa.fa-tag(title="Rename this file" aria-label="Rename")
        button.btn.stage-file.fa.fa-plus(title="Include this file in the build" aria-label="Include")
        button.btn.unstage-file.fa.fa-minus(title="Exclude this file from the build" aria-label="Exclude")
