block content
  each session in clientstate.sessions
    form(action=`${httpRoot}api/noscript/compile` method='POST')
      p=`${session.language} source #${session.id}`
      input#lang(name='lang' value=session.language type='hidden')
      input#filterAnsi(name='filterAnsi' value='true' type='hidden')

      .form-pair.inlined.dropdown
        a.btn.link-primary.nodropdown-toggle#outputDropdown(role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span.fas.fa-cog
          | Output

        .output.noscriptdropdown(aria-labelledby="outputDropdown")
          include ../options-output.pug

      .form-pair.inlined.dropdown
        a.btn.link-primary.nodropdown-toggle#filtersDropdown(role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          span.fas.fa-filter
          | Filters

        .filters.noscriptdropdown(aria-labelledby="filtersDropdown")
          include ../options-filters.pug

      .form-pair-inlined
        label(for='compilerid') Compiler
        select.compiler-picker#compilerid(name='compiler' placeholder='Select a compiler...')
          - var selectedCompilerId = (session.compilers.length > 0) ? (session.compilers[0].id) : '';
          each compiler in compilers
            - var compilerIsSelected = compiler.id == selectedCompilerId
            if compiler.lang == session.language && (!compiler.hidden || compilerIsSelected)
              if compilerIsSelected
                option(value=compiler.id selected=true)= compiler.name
              else
                option(value=compiler.id )= compiler.name
      .form-pair-inlined
        label(for='compileroptions') Options
        input#compileroptions(name='userArguments' type="text" placeholder='Compiler options...' autocorrect="off" autocapitalize="off" spellcheck="false" value=(session.compilers.length > 0) ? session.compilers[0].options : '')
      .form-pair-block
        label(for='source') Source code
        textarea#source(name='source' cols='70' rows='10' placeholder='Type your code here' autocorrect="off" autocapitalize="off" spellcheck="false")
          =session.source
      .form-pair-inlined
        input.btn.btn-primary(type='submit' value='Compile')
        | 
        button.btn.btn-outline-secondary(type='button' onclick='generateShareLink()') Get Shareable Link

  script.
    function generateShareLink() {
        const source = document.getElementById('source').value;
        const compiler = document.getElementById('compilerid').value;
        const userArguments = document.getElementById('compileroptions').value;
        const lang = document.getElementById('lang').value;
        
        // Creating a simple form and submit it
        const form = document.createElement('form');
        form.method = 'GET';
        form.action = '/noscript/share';
        
        const sourceInput = document.createElement('input');
        sourceInput.type = 'hidden';
        sourceInput.name = 'source';
        sourceInput.value = source;
        form.appendChild(sourceInput);
        
        const compilerInput = document.createElement('input');
        compilerInput.type = 'hidden';
        compilerInput.name = 'compiler';
        compilerInput.value = compiler;
        form.appendChild(compilerInput);
        
        const optionsInput = document.createElement('input');
        optionsInput.type = 'hidden';
        optionsInput.name = 'userArguments';
        optionsInput.value = userArguments;
        form.appendChild(optionsInput);
        
        const langInput = document.createElement('input');
        langInput.type = 'hidden';
        langInput.name = 'language';
        langInput.value = lang;
        form.appendChild(langInput);
        
        document.body.appendChild(form);
        form.submit();
    }