- var noscript = true
doctype html
html(lang="en")
  head
    block meta
        include ../meta.pug

    block styles
        link(href=require("noscript.css") rel="stylesheet")
        link(href=require("vendor.css") rel="stylesheet")
        link(href=require("main.css") rel="stylesheet")
        style#theme

    block scripts
        if mobileViewer
            script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
            script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
            script(src=require("runtime.js"))
            script(src=require("noscript.js"))

  body(class=extraBodyClass)
    block header
        include header.pug
        include languages.pug

    block content
        #root

    block footer
        include footer.pug
